<link rel="stylesheet" href="/css/auth.css" />

<div id="flash-container">

  <% if (error && error.length > 0) { %>
    <div class="flash flash-error">
      <span><%= error %></span>
      <button class="flash-close" onclick="closeFlash(this)">×</button>
    </div>
  <% } %>

  <% if (success && success.length > 0) { %>
    <div class="flash flash-success">
      <span><%= success %></span>
      <button class="flash-close" onclick="closeFlash(this)">×</button>
    </div>
  <% } %>

</div>

<section class="auth-container">
  <div class="auth-box">
    <h2>FORGOT PASSWORD</h2>

    <form method="POST" action="/auth/forgot">
      <div class="input-group">
        <input type="email" autocomplete="off" name="email" placeholder="Enter your email" required />
      </div>

      <button class="auth-btn">SEND CODE</button>
    </form>
  </div>
</section>