<!-- ===== CART OVERLAY ===== -->
<div class="cart-overlay"></div>

<!-- ===== CART SIDEBAR ===== -->
<div class="cart">
  <!-- HEADER -->
  <div class="cart-header">
    <h3>YOUR BAG&nbsp;(<span id="cart-count">1</span>)</h3>
    <i class="fa-solid fa-xmark close-cart"></i>
  </div>

  <hr />

  <!-- ITEMS -->
  <div class="cart-items">
    <!-- ITEM -->
    <div class="cart-item">
      <img src="/images/shop/sb-1.png" />

      <div class="cart-info">
        <h4>Siberia -80°C</h4>
        <p class="desc">Extreme mint nicotine pouch</p>
        <span class="cart-price">£6.49</span>
      </div>

      <div class="cart-actions">
        <i class="fa-solid fa-trash remove"></i>

        <div class="qty">
          <button class="minus">-</button>
          <span>1</span>
          <button class="plus">+</button>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- FOOTER -->
  <div class="cart-footer">
    <div class="subtotal">
      <span>Subtotal</span>
      <span id="subtotal">£6.49</span>
    </div>

    <a href="/checkout">
      <button class="checkout-btn">
        <i class="fa-solid fa-lock"></i>&nbsp;SECURE CHECKOUT
      </button>
    </a>
  </div>
</div>
