<section class="social">
  <div class="social-glow"></div>

  <div class="container">
    <!-- HEADER -->
    <div class="social-header social-animate">
      <h2>Join Our Community</h2>
      <p>Real people. Real experiences. Follow us on Instagram</p>
    </div>

    <!-- GRID -->
    <div class="social-grid">
      <!-- ITEM -->
      <a
        href="https://www.instagram.com/snusvillage.uk/"
        class="social-item social-animate"
      >
        <img src="/images/social/s-1.jpeg" alt="" />
        <div class="social-overlay">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>

      <a
        href="https://www.instagram.com/snusvillage.uk/"
        class="social-item social-animate"
      >
        <img src="/images/social/s-2.jpeg" alt="" />
        <div class="social-overlay">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>

      <a
        href="https://www.instagram.com/snusvillage.uk/"
        class="social-item social-animate"
      >
        <img src="/images/social/s-3.jpeg" alt="" />
        <div class="social-overlay">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>

      <a
        href="https://www.instagram.com/snusvillage.uk/"
        class="social-item social-animate"
      >
        <img src="/images/social/s-4.jpeg" alt="" />
        <div class="social-overlay">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>

      <a
        href="https://www.instagram.com/snusvillage.uk/"
        class="social-item social-animate"
      >
        <img src="/images/social/s-5.jpeg" alt="" />
        <div class="social-overlay">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>

      <a
        href="https://www.instagram.com/snusvillage.uk/"
        class="social-item social-animate"
      >
        <img src="/images/social/s-6.jpeg" alt="" />
        <div class="social-overlay">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>
    </div>

    <!-- CTA -->
    <div class="social-cta social-animate">
      <a href="https://www.instagram.com/snusvillage.uk/" class="follow-btn">
        <i class="fa-brands fa-instagram instagram-icon"></i> Follow Us
      </a>
    </div>
  </div>
</section>
