<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- Fontawesome cdn link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css"
    />

    <title><%= title %></title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/trust.css" />
    <link rel="stylesheet" href="/css/brands.css" />
    <link rel="stylesheet" href="/css/best-sellers.css" />
    <link rel="stylesheet" href="/css/branches.css" />
    <link rel="stylesheet" href="/css/delivery.css" />
    <link rel="stylesheet" href="/css/social.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <!-- Web Icon -->
    <link rel="icon" href="/images/logo/snusvillage-logo.png" />
  </head>
  <body>
    <div class="age-modal" id="ageModal">
      <div class="age-box">
        <h2>Age Verification</h2>
        <p>You must be 18+ to enter this website</p>

        <div class="age-buttons">
          <button id="enterSite">I am over 18</button>
          <button id="exitSite">I am under 18</button>
        </div>
      </div>
    </div>
    <div class="cookie-banner" id="cookieBanner">
      <p>We use cookies to improve your experience.</p>

      <div class="cookie-buttons">
        <button id="acceptCookies">Accept All</button>
        <button id="rejectCookies">Reject</button>
      </div>
    </div>
    <%- include('../partials/header') %>

    <main><%- body %></main>

    <%- include('../partials/footer') %>

    <script src="/js/main.js" defer></script>
    <script src="/js/shop.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  </body>
</html>
